@use '../../Scss/index.scss' as *;

.conditioningRendering{
    @include blackPage();
    color: white;
    .container{
        .innerInfo{
            text-align: center;
        }

        .wel{
            text-align: center;
        }
    }
}