@use '../../Scss/index.scss' as *;

.mycomponent{
    margin: 2em 0;
    .container{

        .innerInfo{
            text-align: center;
        }
        
        .innerInfo{
            text-align: center;
            margin: 2em 0;
        }
    }
}