@use '../../Scss/index.scss' as *;

.opening{

    .adjust{
        margin: 3rem auto;
        width: 60%;
        text-align:center;
        padding: 3em;
        border-radius: .5em;
        background-color: mytheme(fontHr45);
    }
}